<div class="w-screen h-screen flex flex-col justify-center items-center bg-hero-login bg-cover bg-center bg-no-repeat ">
    <div class="w-1/4">
        <form [formGroup]="registerForm"  (ngSubmit)="register()" class="card-login text-center p-5  max-w-md">
            <h3 class="text-white text-3xl m-4">S'inscrire à event</h3>
            <div class="mb-3">
                <input type="number" placeholder="nombre de place" formControlName="nbGuest" class="w-full rounded-2xl h-8 placeholder: px-3">
            </div>
            <div class="mb-2">
                <button class="mb-3 btn" type="submit">S'inscire</button>
            </div>
        </form>
    </div>
</div>
